@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00CAFF;
  --color-secondary: #59AC77;
  --color-accent: #f3f4f6;
  --color-neutral: #374151;
}
