@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00CAFF;
  --color-secondary: #59AC77;
  --color-accent: #7A7A73;
  --color-neutral: #374151;
}
/* 57595B */